:root {
    --color-background: #333; /* Kolor tła */
    --color-text: #fff; /* Kolor tekstu */
    --color-link: #00c7ff; /* Kolor linków */
}

body {
    background-color: #333;
    font-family: Arial, sans-serif;
    font-size: 25px;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.light-theme {
    background-color: #fff;
    color: #333;
}

.link {
    color: var(--color-link);
    text-decoration: none; /* Brak podkreślenia */
    transition: color 0.3s ease; /* Płynna animacja zmiany koloru */
}

.link:hover {
    color: #23527c; /* Kolor tekstu po najechaniu kursorem */
}

div {
    padding: 20px; /* Wewnętrzny margines */
}

button[type="submit"] {
    background-color: var(--color-link);
    color: white; /* Kolor tekstu */
    padding: 10px 20px; /* Wewnętrzny margines */
    border: none; /* Brak obramowania */
    border-radius: 4px; /* Zaokrąglenie rogów */
    cursor: pointer; /* Kursor wskaźnik */
    font-size: 16px;
}

button {
    background-color: var(--color-link);
    color: white; /* Kolor tekstu */
    padding: 10px 10px; /* Wewnętrzny margines */
    border: none; /* Brak obramowania */
    border-radius: 4px; /* Zaokrąglenie rogów */
    cursor: pointer; /* Kursor wskaźnik */
    font-size: 14px;
}

input {
    background-color: var(--color-background);
    color: white; /* Kolor tekstu */
    font-size: 16px;
    padding: 10px; /* Wewnętrzny margines */
    border: 1px solid #ccc; /* Obramowanie */
    border-radius: 4px; /* Zaokrąglenie rogów */
}

input:focus {
    outline: none; /* Usunięcie domyślnego zaznaczenia */
    border-color: var(--color-link); /* Kolor obramowania po kliknięciu */
    box-shadow: 0 0 5px #4CAF50; /* Cień po kliknięciu */
}

select {
    background-color: var(--color-background);
    color: white; /* Kolor tekstu */
    font-size: 16px;
    padding: 10px; /* Wewnętrzny margines */
    border: 1px solid #ccc; /* Obramowanie */
    border-radius: 4px; /* Zaokrąglenie rogów */
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.nav {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav:hover {
    background-color: var(--color-link);
}
