{% extends 'main.html' %}
{% block content %}
    <div>
        <div>
            {{ book.title }}
        </div>
        <div>
            Author: {{ book.author.first_name }} {{ book.author.last_name }} <br>
            Publisher: {{ book.publisher.name }}, {{ book.year }}
        </div>
        <div>
            Categories:
            <ul>
                {% for category in book.categories.all %}
                    <li>{{ category }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div>
        {% if user.is_authenticated %}
            {% include 'basic_form.html' %}
        {% endif %}
    </div>
    <div>
        Komentarze:
        <ul>
            {% for comment in book.comment_set.all %}
                <div>
                    <li>{{ comment.date }} -<p>{{ comment.content }}</p>{{ comment.user.username }}</li>
                    {% if comment.user == user %}
                        <a href="{% url 'comment-details' comment.id %}">edit</a>
                    {% endif %}
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}